@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic');

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eaedf2;
}
/*
 *
 *navbar
 *
 **/
.navbar-jomelos {
    background-color: #f9fafc;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(13, 84, 112, 0.8);
    -moz-box-shadow:    0px 4px 10px 0px rgba(13, 84, 112, 0.8);
    box-shadow:         0px 4px 10px 0px rgba(13, 84, 112, 0.8);
}
.navbar-jomelos a {
    text-decoration: none;
    color: #3e7a82;
}
.navbar-jomelos a:hover {
    color: #295156;
}
.navbar-jomelos > .nav li a {
    color: #3e7a82;
}
.navbar-default .navbar-nav > li > a {
    color: #3e7a82;
}
.btn-green {
    background-color: #7cb930;
    border: 1px solid #4a701d;
    color:  #ffffff;
    font-size: 0.8em;
}
.btn-green:hover {
    background-color: #7db831;
    border: 1px solid #2e4312;
}

.btn-blue {
    background-color: #1bbae1;
    border: 1px solid #1388a6;
    color:  #ffffff;
    font-size: 0.8em;
}
.btn-blue:hover {
    background-color: #1bbae1;
    border: 1px solid #0e5c70;
}
@media (min-width: 768px) {
    .navbar .brand {
        max-height: 40px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
    }
    /**/
}
/*navbar end*/





/*
 *
 * Jumbotron
 *
 */
.image-valign-bottom {
    vertical-align: bottom;
}
.no-jumbotron {
    margin-top: 50px;
}
.jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
    background: url(../img/jumbo_bg.jpg) no-repeat center top;
    margin-top: 50px;
}
.jumbo-row {
    height: 270px;
}
.jumbo-image-holder {
    height: 248px;
}
.jumbo-image-holder img {
    height: 248px;
}

.jumbotron > .container {
    margin-top: -30px;
    height: 365px;
}

/* bottom shadow */
.jumbotron-jomelos {
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    height: 30px;
    width: 100%;
    display: table;
    float: left;
}
/**/

/**/
.jumbotron-inner-shadow {
    -webkit-box-shadow: inset 0px 6px 5px 1px rgba(13, 84, 112, 0.3);
    -moz-box-shadow:    inset 0px 6px 5px 1px rgba(13, 84, 112, 0.3);
    box-shadow:         inset 0px 6px 5px 1px rgba(13, 84, 112, 0.3);
}
/**/

#jumbotron-no-margin {
    margin-left: 0;
    margin-right: 0;
}
.jumbotron-bg {
    /*background: url(../img/jumbo_bg.jpg) no-repeat center top;*/
    min-height: 330px;
    
}
.jumbo_placer {
    display: table;
    float: none;
    width: 100%;
    height: 215px;
    
}
.jumbo_buttons_left {
    display: block;
    float: left;
    width: 47%;
    margin-right: 25px;
    text-align: right;
}
.jumbo_buttons_right {
    display: block;
    float: left;
    width: 40%;
    margin-left: 100px;
    text-align: left;
}

.jumbo_btn_shadows {
    /* upper inset shadow (upper glow), drop shadow (bottom) */
    -webkit-box-shadow: inset 7px 7px 5px -6px rgba(251, 199, 144, 0.75), 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 7px 7px 5px -6px rgba(251, 199, 144, 0.75), 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 7px 7px 5px -6px rgba(251, 199, 144, 0.75), 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.jumbo-btn-orange:hover {
    background-color: #e35f0f;
    color: #fff;
}
.jumbo-btn-orange {
    background-color: #f78a16;
    color: #fff;
}
.jumbo-btn-green {
    background-color: #77cc1a;
    color: #fff;
}
.jumbo-btn-green:hover {
    background-color: #1a8813;
    color: #fff;
}
.jumbo-center-link {
    /*
    display: table;
    float: none;
    width: 100%;
    height: 36px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    */
    padding: 15px;
    /*font-size: 1.0em;*/
}
.jumbo-center-link a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}
.jumbo-center-link a:hover {
    color: #fff;
    text-decoration: underline;
}
.jumbo_kep_bal {
    float: left;
    display: block;
    z-index: 100;
    margin-right: -35px;
}
.jumbo_txt_bal {
    float: left;
    display: block;
}
.jumbo_txt_bal_1 {
    float: none;
    display: table;
    height: 75px;
    width: 100%;
}
.jumbo_txt_bal_2 {
    float: none;
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.jumbo_txt_bal_3 {
    float: none;
    display: table;
    width: 100%;
}
.jumbo_txt_bal_4 {
    float: none;
    display: table;
    height: 50px;
    width: 100%;
}
.btn_jumbo_munka {
    background: url('../img/btn_bg_narancsgomb.png') center center no-repeat;
    width: 240px;
    height: 53px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1.1em;
}
.btn_jumbo_munka:hover {
    color: #000;
}

.jumbo_spacer_top {
    display: table;
    float: none;
    height: 50px;
    width: 100%;
}
.jumbo_spacer_bottom {
    display: table;
    float: none;
    height: 5px;
    width: 100%;
}
.jumbo_image_spacer {
    margin-bottom: 15px;
}

input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}


.jumbo_kep_jobb {
    float: right;
    display: block;
    z-index: 105;
    margin-left: -35px;
}
.jumbo_txt_jobb {
    float: right;
    display: block;
}
.jumbo_txt_jobb_1 {
    float: none;
    display: table;
    height: 75px;
    width: 100%;
}
.jumbo_txt_jobb_2 {
    float: none;
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.jumbo_txt_jobb_3 {
    float: none;
    display: table;
    width: 100%;
}
.jumbo_txt_jobb_4 {
    float: none;
    display: table;
    height: 50px;
    width: 100%;
}
.btn_jumbo_melos {
    background: url('../img/btn_bg_zoldgomb.png') center center no-repeat;
    width: 240px;
    height: 53px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1.1em;
}
.btn_jumbo_melos:hover {
    color: #000;
}


/*
.jumbo-leftside {
    margin-right: 25px;
}
.jumbo-rightside {
    margin-right: 25px;
}
*/
/**/

/*
 *
 * /JUMBOTRON END
 *
 */





/*
 *
 * shadows
 *
 */
.css3-shadow,
.css3-gradient1,
.css3-gradient2 {
  	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/**/


/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
    left:10%;
    right:10%;
}
/**/



/*
 * frontpage, kereső
 * 
 */
.searchbox {
    border: 1px solid #dbe1e8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #fff;
    color: #000;
}
.block-title {
    background-color: #00b5e2;
    padding-top: 5px;
    padding-left: 5px;
}
.searchbox-gray {
    color: #868686;
}
.searchbox-gray-2 {
    color: #9b9b9b;
}
.jomunkas-searcher-box li a {
    color: #fff;
}
.jomunkas-searcher-box li a:hover {
    color: #4e5975;
}
.font-bigger {
    font-size: 1em;
}
.jomunkas-searcher-box li > .disabled {
    border: 0;
    color: #000;
}
.searcher-box-disabled {
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}
.label-white-inverse {
    background-color: #fff;
    color: #8f8f8f;
}

.slider-selection {
    background-color: #00b5e2;
}

.searchpanel-block {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}
.searchpanel-lines {
    margin-top: 7px;
    margin-bottom: 7px;
}
.search-box-mini-titles {
    margin-top: -5px;
    
}
/* searcher end */

/* nav tabs */
/*
.block-title .nav-tabs,
.block-options {
    min-height: 40px;
    line-height: 38px;
}

.block-title .nav-tabs {
    padding: 3px 1px 0;
    border-bottom: none;
}

.block-title .nav-tabs > li > a {
    border-bottom: none;
}

.block-title .nav-tabs {
    margin-bottom: -2px;
}

.block-title .nav-tabs > li > a {
    margin-bottom: 0;
}

.block-title .nav-tabs > li > a:hover {
    background: none;
}

.block-title .nav-tabs > li.active > a,
.block-title .nav-tabs > li.active > a:hover,
.block-title .nav-tabs > li.active > a:focus {
    border: 1px solid #eaedf1;
    border-bottom-color: #ffffff;
    background-color: #ffffff;
}
*/
.tab-default-color {
    color: #fff;
}
.tab-default-color a {
    text-decoration: none;
    color: #fff;
}
.searcher-box-button {
    background-color: #85e31f;
    border-color: #62A717;
    color: #fff;
    box-shadow: 0 1px 2px #B3B3B3;
}
.searcher-box-button:hover {
    background-color: #85e31f;
    border-color: #39610e;
    color: #38600d;
    box-shadow: 0 1px 2px #B3B3B3;
}
#search-select-1 {
    width: 250px;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.searcher-select {
    /*border-radius: 3px;
    -moz-border-radius: 3px; */
    color: #b9b9b9;
    font-size: 12px;
    padding: 9px;
    text-align: left;
    vertical-align: middle;
}
.searcher-select li {
    color: #b9b9b9;
    font-size: 12px;
    padding: 2px;
    
}
/*
.slider-handle {
    width: 18px;
    height: 18px;
    margin-top: -5px;
}
.slider-track {
    height: 7px;
}
*/
/* nav tabs end */



/*
 * ==================================================
 * facebook like box
 * ==================================================
 */
.fb_box {
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
}
.fb_box > .block-title {
    background-color: #f9fafc;
    border-bottom-color: #1bbae1;
    border-bottom: 1px solid #1bbae1;
    border-bottom-style: solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: #00b5e4;
}
/*
.fb_box > .block-title,
.fb_box > .block-top {
    margin-left: -20px;
    margin-right: -20px;
}
*/
.fb_box > .block-title h1,
.fb_box > .block-title h2,
.fb_box > .block-title h3,
.fb_box > .block-title h4,
.fb_box > .block-title h5,
.fb_box > .block-title h6 {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 16px 7px;
    font-weight: normal;
}

.fb_box > .block-title h1 small,
.fb_box > .block-title h2 small,
.fb_box > .block-title h3 small,
.fb_box > .block-title h4 small,
.fb_box > .block-title h5 small,
.fb_box > .block-title h6 small {
    font-size: 13px;
    /*color: #777777;*/
    font-weight: normal;
}

.fb_box > .block-title h1,
.fb_box > .block-title h2,
.fb_box > .block-title h3 {
    padding-left: 15px;
    padding-right: 15px;
}
.block-options .btn {
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 30px;
    text-align: center;
}
.btn-round {
    border-radius: 25px;
    -moz-border-radius: 25px;
}
.btn-fb {
    vertical-align: middle;
    text-align: center;
    /*border: 1px solid #777777;*/
    -moz-border-radius: 25px;
    /*padding: 0px;
    margin: 0px;*/
    border-radius: 25px;
    background-color: #fff;
    color: #00b5e4;
    margin-right: 5px;
}

.fb-like-box {
    background-color: #ffffff;
    
}

#searcher-fb-like-box-fb-button {
    color: #00b5e4;
}
.fb-box-spacer {
    display: table;
    float: none;
    width: 100%;
    height: 10px;
}

/* FB END */









/* Carousel */
.carousel-control.left,
.carousel-control.right,
.carousel-control.left.no-hover:hover,
.carousel-control.right.no-hover:hover {
    background: none;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    background: url('../img/template/ie8_opacity_dark_30.png') repeat;
    background: rgba(0, 0, 0, 0.30);
}

.carousel-control span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control i {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

/* Gallery */
.gallery img, .gallery a img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 100%;
}

a[data-toggle="lightbox-image"],
a.gallery-link {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.gallery a:hover img,
.gallery-image:hover img,
a[data-toggle="lightbox-image"]:hover img {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.gallery-image {
    position: relative;
}

.gallery-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.gallery-image:hover .gallery-image-options {
    display: block;
}

.gallery > .row > div {
    margin-bottom: 15px;
}

.gallery.gallery-widget > .row > div {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}




/*** galery stuff #3 **/

/* munka slider */
.cs-item {
    background-color: #f2f2f2;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 250px;
    width: 210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}
.cs-item-hover-title {
    background-color: rgba(50, 50, 58, 0.3);
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    display: table;
    float: none;
    width: 100%;
    height: 50px;
    padding: 5px;
    
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottombottom:0px; /* position will be on bottom */  
    left:0px;  
    
    
    background-color: #000;
    font-family: 'tahoma';  
    font-size: 15px;  
    color: #fff;
    opacity: 0.6; /* transparency */  
    filter: alpha(opacity=60); /* IE transparency */  
    
    
}
.cs-item-topblock {
    background-color: #f3f3ff;
    text-align: center;
    vertical-align: middle;
    display: table;
    float: none;
    width: 100%;
    height: 150px;
}
.cs-item-bottom-block {
    display: table;
    float: none;
    width: 100%;
    height: 100px;
    color: #4b4b4b;
}
.cs-item-bb-left {
    float: left;
    display: block;
    width: 50px;
    height: 100px;
}
.cs-item-bb-center {
    text-align: center;
    float: left;
    display: block;
    width: 110px;
    height: 100px;
}
.cs-item-bb-right {
    float: left;
    display: block;
    text-align: right;
    vertical-align: bottom;
    width: 47px;
    height: 100px;
    position: relative;
}
.cs-item-bb-right img {
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 5px;
}

.cs-item-bb-txt-head {
    font-size: 1.1em;
    color: #4b4b4b;
    display: table;
    float: none;
    text-align: center;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #dadada;
    
}
.cs-item-bb-txt-time {
    display: table;
    float: none;
    text-align: center;
    width: 100%;
    padding: 4px;
}
.cs-item-bb-txt-time i {
    color: #626161;
}
.cs-item-bb-txt-price {
    display: table;
    float: left;
    text-align: center;
    color: #0089ab;
    font-weight: bold;
    font-size: 1.12em;
    width: 100%;
    padding: 4px;
}
.label-big {
    font-size: 1.2em;
    color: #ffffff;
    padding: 5px;
    background-color: #1bbae1;
}
.label-holder {
    display: table;
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
}
/* /munka slider */
.label-holder .label {
    display: block;
    float: left;
}
/******/



/**** munkás slider *******/
.cs-w-slider-title-left {
    display: block;
    float: left;
    vertical-align: middle;
    margin-left: 10px;
}
.cs-w-slider-title-left a {
    text-decoration: none;
    color: #323338;
}
.cs-w-slider-title-left a:hover {
    text-decoration: underline;
    color: #323338;
}


.ms-kep image {
    border-radius: 25px;
    -moz-border-radius: 25px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
.img-minied {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    -moz-border-radius: 40px;
}
.ms-image-holder {
    height: 85px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.ms-image-holder:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    /*content: ' ';*/
}
.ms-image-holder img {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ms-img-odd .cs-item-topblock {
    background-color: #32323a;
}
.ms-img-even .cs-item-topblock {
    background-color: #394263;
}
.ms-img-odd .ms-img-txt {
    color: #1ec1b8;
}
.ms-img-even .ms-img-txt {
    color: #1bbae1;
}

.ms-img-txt {
    display: table;
    float: none;
    font-size: 1.1em;
    font-weight: lighter;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 100%;
}
.ms-img-txt-place {
    display: table;
    float: none;
    /*padding-bottom: 5px;*/
    text-align: center;
    width: 100%;
    color: #ffffff;
}
.btn-sender {
    padding: 0;
    margin: 0;
}
.slider2 {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
/********* /munkás slider ********/









/** bx **/
.bx_customNavigation{
    text-align: center;
    position: relative;
}
//use styles below to disable ugly selection
.bx_customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
.bx_customNavigation a:hover {
    text-decoration: none;
}
.bx_customNavigation a i {
    /*-webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.39);*/
    height: 250px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    color: #fff;
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
.bx_customNavigation a i:hover {
    background: rgba(0, 0, 0, 0.6);
}
.bx-prev {
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 30px;
    /*background: rgba(0, 0, 0, 0.05);*/
    text-align: center;
    height: 250px;
    vertical-align: middle;
    /*margin-top: -259px;*/
    font-size: large;
    font-weight: bold;
    color: #fff;
    /*margin-left: 23px;*/
    padding-right: 30px;
}
.bx-prev span {
    /*
    height: 250px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
    */
}
.bx-prev:hover {
    /*
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.3;
    */
    color: #fff;
}
/**/
.bx-next {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 30px;
    text-align: center;
    height: 250px;
    vertical-align: middle;
    /*margin-top: -259px;*/
    font-size: large;
    font-weight: bold;
    color: #fff;
    /*padding: 10px;*/
    
    /*
    margin-right: 37px;
    */
    /*padding-left: 23px;*/
    /*padding-right: 30px;*/
}
@media(max-width:767px){
    .bx-next {
	margin-right: 0;
    }
    .bx-prev {
	margin-left: 0;
    }
    .slider1 {
	margin-left: 20px;
	margin-right: 20px;
    }
    .slider2 {
	margin-left: 20px;
	margin-right: 20px;
    }
}
@media(min-width:768px){
    .bx-next {
	margin-right: 0;
    }
    .bx-prev {
	margin-left: 0;
    }

}
@media(min-width:992px){
    .bx-next {
	margin-right: 0;
    }
    .bx-prev {
	margin-left: 0;
    }

}
@media(min-width:1200px){
    .bx-next {
	margin-right: 37px;
    }
    .bx-prev {
	margin-left: 26px;
    }

} 


.bx-next span {
    /*
    height: 250px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    */
}
.bx-next:hover {
    /*
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.3;*/
    color: #fff;
}

.bx-wrapper .bx-viewport {
    box-shadow: 0;
    background: none;
    border: none;
}

/** /bx **/










.btn-landing {
    border: 1px solid #0e5c70;
    margin-right: 5px;
    color:  #ffffff;
    font-size: 0.8em;
}



.panel-former {
    padding: 8px;
}

.li-ico-green {
    list-style: none;
    padding: 3px;
}

.li-ico-green li {
    background-image: url('../img/li-icon-green.png');
    background-repeat: no-repeat;
    padding-left: 25px;
    margin: 0.4em;
}
.li-ico-orange {
    list-style: none;
    padding: 3px;
}
.li-ico-orange li {
    background: url('../img/li-icon-orange.png') 100% 0% no-repeat;
    padding-right: 25px;
    margin: 0.4em;
    
}
.infobox-bg {
    background-color: #f5f2e9;
}
.btn-play {
    background: url('../img/btn-play.png') no-repeat;
    border: none;
    content: '';
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    white-space: nowrap;
}
.infotitle {
    font-size: 1.30em;
    font-weight: bold;
}



/*
 * =========================================
 * TAB nav | old
 * =========================================
 *
 */
#myTab_old {
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #feffff; 
    background: -moz-linear-gradient(top,  #feffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
/*
.panel1 {
    background-color: #4cbcea;
    -webkit-box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow:         7px 7px 5px -6px rgba(0, 0, 0, 0.75);
}
*/
.tabheader {
    display: table;
    float: none;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
    width: 100%;   
}
.tabheader a {
    color: #6b6a6a;
    text-decoration: none;
}
.tabheader a:hover {
    text-decoration: underline;
}

.tab1 {
    display: block;
    float: left;
    width: 45%;
    padding: 2px;
}
.tab2 {
    display: block;
    float: left;
    width: 45%;
    padding: 2px;
}
.tab-inner {
    display: block;
    float: left;
    width: 25px;
    background: url('../img/tab-elvalaszto-01.png') center center no-repeat;
    height: 25px;
}
/**/




.slider-label {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    display: table;
    width: 100%;
    float: none;
}
.text-white {
    color: #fff;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.slider_one {
    display: table;
    float: none;
    width: 100%;
}
.slider_two {
    display: table;
    float: none;
    width: 100%;
}

.stat_line2 {
    margin-bottom: 10px;
}
.stat_header {
    margin: 5px;
    font-size: 1.2em;
}


/* slider */
.carousel-control {
  padding-top:10%;
  width:5%;
}
.label-black {
    color: #fff;
    background-color: #000;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#carousel-label {
    margin-bottom: 10px;
    font-size: 1.0em;
    padding: 3px;
}
.carousel-label-box {
    display: table;
    float: none;
    width: 100%;
    margin-bottom: 10px;
}
.carousel-label-box span {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 3px 10px 3px 10px;
}
.label-link {
    padding: 3px 10px 3px 10px;
    background-color: #00aeef;
    color: #fff;
    font-size: 1em;
}
.label-link a {
    text-decoration: none;
    color: #fff;
}
.label-link a:hover {
    text-decoration: underline;
}
.slider-item-line {
    display: table;
    float: none;
    width: 100%;
}
.slider-item-price {
    display: block;
    float: left;
    width: 70%;
}
.slider-item-rate-msg {
    /*display: block;
    float: left;
    width: 70%;*/
    font-size: smaller;
    color: #626161;
}
.slider-item-button {
    display: block;
    float: left;
    width: 15%;
}
.slider-item {
    display: table;
    width: 80%;
    float: none;
    background-color: #d7d7d7;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slider-item a{
    text-decoration: none;
    color: #2f2f2f;
}
.slider-item a:hover span {
    background-color: #00ff00;
}

.slider-item-rate-btn {
    text-align: center;
    width: 100%;
    float: none;
    display: table;
    color: #2e2e2e;
}

/**/
.szakember-rate-txt {
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    float: left;
}
.szakember-rate-color-good {
    color: #e3bc00;
}
.szakember-rate-color-bad {
    color: #7c0e11;
}
.szakember-rate-btn-good {
    color: #9fd200;
}
.szakember-rate-btn-good:hover {
    color: #1eb534;
}

.szakember-rate-btn-bad {
    color: #ffa000;
}
.szakember-rate-btn-bad:hover {
    color: #ff3535;
}
.szakember-rate-btn-nope {
    color: #01c6cb;
}
.szakember-rate-btn-nope:hover {
    color: #118cbb;
}

.btn-sender {
    background: none;
    border: none;
    display: block;
    float: left;
}
.slider-item-btns {
    /*margin-left: auto;
    margin-right: auto;*/
    display: table;
    float: none;
    width: 100%;
    text-align: center;
    position: absolute;
}
.m-slider-wrapper {
    display: table;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 15px;
}
.noform {
    display: block;
    float: inherit;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* Tables */
.table.table-vcenter th,
.table.table-vcenter td {
    vertical-align: middle;
}
.table thead > tr > th {
    font-size: 18px;
    font-weight: 600;
}

.table thead > tr > th > small {
    font-weight: 400;
    font-size: 75%;
}
.table-borderless tbody > tr > th,
.table-borderless tbody > tr > td {
    border-top-width: 0;
}
.munkak_result_link {
    text-decoration: none;
    color: #000;
}
.munkak_result_link:hover {
    text-decoration: underline;
}



/*
 * ========================================
 * FOOTER
 * ========================================
 */
/*
.footer-links a{
    margin-right: 5px;
    text-decoration: none;
    color: #9b9b9b;
}
.footer-links a:hover {
    text-decoration: underline;
    color: #202020;
}
.footer {
    border-top: 1px solid #828282;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
*/

/* Footer */
.site-footer {
    color: #656565;
    padding-top: 11px;
    padding-bottom: 40px;
    background-color: #252525;
}

.footer-heading {
    color: #ffffff;
    font-size: 19px;
    margin: 29px 0 15px;
}

.footer-nav a {
    color: #777777;
    -webkit-transition: all ease-out 0.15s;
    transition: all ease-out 0.15s;
}

.footer-nav a:hover {
    text-decoration: none;
}

.footer-nav-social a {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #151515;
    border-radius: 13px;
    -webkit-transition: all ease-out 0.25s;
    transition: all ease-out 0.25s;
}

.footer-nav-social a:hover {
    color: #ffffff;
    background-color: #1bbae1;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
}
.footer {
    padding-top: 30px;
    background-color: #252525;
}
.footer-dark-spacer {
    background-color: #252525;
    height: 30px;
}
.site-section {
    padding: 50px 0;
}





/*
 * ======
 * ===========
 * ==================
 * ===============================
 * =================================================
 *  MUNKÁK Site
 * ===============================================
 * ============================
 * ===================
 * ==========
 * ===
 */
.navbar-bottom-spacer {
    display: table;
    width: 100%;
    height: 50px;
    float: none;
}
/**/



/*
 * ======================
 * munkak - kereso box - component
 * ========================
 *
 */
.munkak-kereso-box {
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
    margin-bottom: 15px;
    margin-left: -5px;
    width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.munkak-searcher-box-slider-titles {
    margin-top: -17px;
}
.munkak-searcher-box-text-1 {
    margin-left: 0px;
    padding: 0;
}
.munkak-searcher-box-text-2 {
    margin-left: -3px;
    padding: 0;
}
/*
.munkak-kereso-btn-box {
    position: relative;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.munkak-kereso-btn-box button {
    text-align: center;
    vertical-align: middle;
    position: absolute;
}
*/
.munkak-kereso-btn-box {
    display: table;
    /*position: relative;
    height: 60px;
    width: 100%;
    
    vertical-align: middle;
    */
    padding-top: 15px;
    padding-left: 0;
    margin-left: -5px;
}
/*
.munkak-kereso-btn-box button {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 25px;
}
*/
.btn-munkak-submit {
    background-color: #85e31f;
    border: 1px solid #62a717;
    /*text-align: center;
    vertical-align: middle;
    line-height: 15px;*/
    color: #ffffff;
}
.btn-munkak-submit:hover {
    color: #373737;
    background-color: #61a714;
}

.munkak-table-img {
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/**/
.munkak-table-extrabox {
    display: table;
    float: none;
    width: 100%;
}
/**/
.munkak-table-munka-cim {
    display: table;
    float: none;
    width: 100%;
}
.munkak-table-munka-cim a {
    text-decoration: none;
    color: #1bbfe7;
}
.munkak-table-munka-cim a:hover {
    color: #128ead;
}
.munkak-ar-label {
    padding: 4px;
    
}
.munkak-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.munkak-table thead {
    background-color: #ffffff;
}
.munkak-table-odd {
    background-color: #ffffff;
}
.munkak-table-even {
    background-color: #f9f9f9;
}
.pagination-rounded {
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination {
    padding: 10px;
    border: none;
    background-color: #ffffff;
}
/*
.pagination > .active,
.pagination > .active > a {
    background-color: #1bbae1;
}
.pagination > li > span {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
}
.pagination li a:hover {
    background-color: #1bbae1;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
*/


.pagination > li > a,
.pagination > li > span  {
    color: #1bbae1;
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
    border-radius: 5px !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #1bbae1;
}



/**/









/*****
 *
 *==========================
 * szakemberek page
 *==========================
 *
 */
.szakember-kereso-box {
    font-size: 11px;
}
.szakember-kereso-box .no-padding {
    padding: 0;
}
.szakember-kereso-box .no-padding-side {
    padding-left: 0;
    padding-right: 0;
}

.szakember-kereso-box .no-padding-left {
    padding-left: 0;
    
}
.szakember-kereso-box .no-padding-right {
    padding-right: 0;
}
.szakemberek-kereso-blocker {
    display: block;
    float: left;
    height: 100%;
    padding: 5px;
    
}

/* responsive hoak for custom searcher */
@media(max-width: 767px){
  .szakemberek-kereso-blocker-longer {
	width: 100%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 100%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 100%;
    }
    .szakemberek-kereso-blocker-shorter .munkak-kereso-btn-box {
	margin-left: auto;
	margin-right: auto;
    }
}
@media(min-width:768px){
  .szakemberek-kereso-blocker-longer {
	width: 50%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 50%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 50%;
    }
    .szakemberek-kereso-blocker-shorter .munkak-kereso-btn-box {
	margin-left: auto;
	margin-right: auto;
    }
}
@media(min-width:992px){
    .szakemberek-kereso-blocker-longer {
	width: 33%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 33%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 33%;
    }
    .szakemberek-kereso-blocker-shorter .munkak-kereso-btn-box {
	margin-left: auto;
	margin-right: auto;
    }
}
@media(min-width:1200px){
    .szakemberek-kereso-blocker-longer {
	width: 20%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 12%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 16%;
    }
} 
/**/
.szakember-table-hovertext-head {
    text-align: left;
    width: 100%;
    display: table;
    float: none;
    margin-bottom: 3px;
    color: #40a0be;
}
.szakember-table-hovertext-txt {
    color: #545454;
    font-weight: lighter;
    font-size: small;
}
.szakember-table-opt-s-btn {
    background-color: #85e31f;
    border-color: #66AF16;
    color: #fff;
    padding: 6px 11px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}
.szakember-table-opt-s-btn:hover {
    color: #545454;
}
/**/
.szakember-lista-pd-nev {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
.szakember-lista-pd-starrate {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
.szakember-lista-pd-ratebtns {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
.szakember-lista-pd-reviews {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
/**/
.szakember-table-pic-btn-btn {
    background-color: #6ad2eb;
    border-color: #1bbae1;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.szakember-table-pic-btn-btn:hover {
    color: #545454;
    background-color: #6ad2eb;
    border-color: #1489a7;
}
/**/

.szakember-table-pic-btn {
    display: table;
    float: none;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.szakember-table-hovertext-placer {
    width: 98%;
}
.szakember-table-picrow {
    width: 150px;
}
/**/
.szakember-lista-opt-up {
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;
}
.szakember-lista-opt-dn {
    display: table;
    float: none;
    text-align: right;
    vertical-align: top;
    width: 94%;
}

.szakember-lista-opt-holder {
    position: relative;
    height: 90px;
    width: 100%;
}
/**/





/**/
.label-kiemelt {
    background-color: #e67e22;
    color: #fff;
}


/*
=================================================================
(#m05ths) THEME
=================================================================
*/

/* Default Color Theme specific colors */
.themed-color {
    color: #1bbae1;
}

.themed-border {
    border-color: #1bbae1;
}

.themed-background {
    background-color: #1bbae1;
}

.themed-color-dark {
    color: #394263;
}

.themed-border-dark {
    border-color: #394263;
}

.themed-background-dark {
    background-color: #394263;
}
/* Counter */
.counter {
    text-align: center;
    color: #ffffff;
}

.counter span {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    display: block;
}

.counter small {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}


/**/
/* Scroll to top link */
#to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 3px;
    padding: 0 12px 3px;
    font-size: 28px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#to-top:hover {
    color: #ffffff;
    background-color: #1bbae1;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}


/**************************** PLUGINS *****************************************/




/* Forms */
label {
    font-weight: 600;
}

fieldset legend {
    font-size: 16px;
    padding: 30px 0 10px;
    border-bottom: 2px solid #eaedf1;
}

input[type="file"] {
    padding-top: 7px;
}

input[type="text"].form-control,
input[type="password"].form-control,
input[type="email"].form-control,
textarea.form-control {
    -webkit-appearance: none;
}

.form-control {
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #394263;
    border-color: #dbe1e8;
}

.form-control-borderless .form-control,
.form-control-borderless .input-group-addon,
.form-control-borderless,
.form-control-borderless:focus {
    border: transparent !important;
}

.input-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.input-group .form-control {
    margin-top: 0;
}

.form-control:focus {
    border-color: #1bbae1;
}

.help-block {
    color: #777777;
    font-weight: 400;
}

.input-group-addon {
    min-width: 45px;
    text-align: center;
    background-color: #ffffff;
    border-color: #dbe1e8;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-bordered {
    margin: -15px -15px -1px;
}

.modal-body .form-bordered {
    margin-bottom: -20px;
}

.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 15px;
    border-bottom: 1px dashed #eaedf1;
}

.form-bordered .form-group.form-actions {
    background-color: #f9fafc;
    border-bottom: none;
}

.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .help-block,
.has-success .control-label,
.has-success .input-group-addon,
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .radio,
.has-success .radio-inline {
    color: #27ae60;
}

.has-success .form-control,
.has-success .input-group-addon {
    border-color: #27ae60;
    background-color: #ffffff;
}

.has-success .form-control:focus {
    border-color: #166638;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .input-group-addon,
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .radio,
.has-warning .radio-inline {
    color: #e67e22;
}

.has-warning .form-control,
.has-warning .input-group-addon {
    border-color: #e67e22;
    background-color: #ffffff;
}

.has-warning .form-control:focus {
    border-color: #b3621b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .input-group-addon,
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .radio,
.has-error .radio-inline {
    color: #e74c3c;
}

.has-error .form-control,
.has-error .input-group-addon {
    border-color: #e74c3c;
    background-color: #ffffff;
}

.has-error .form-control:focus {
    border-color: #c0392b;
}








/*
=================================================================
(#05chs) Chosen

MIT License
=================================================================
*/

/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/**/
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1041;
    width: 100%;
    border: 1px solid #1bbae1;
    border-top: 0;
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}
.chosen-container a {
    cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 34px;
    border: 1px solid #dbe1e8;
    background-color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    border-radius: 4px;
    color: #394263;
}
.chosen-container-single .chosen-default span {
    color: #999;
}
.chosen-container-single .chosen-single span {
    height: 34px;
    line-height: 34px;
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/jquery.chosen/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
/**/
.chosen-container-single .chosen-single div b {
    display: block;
    margin-top: 6px;
    width: 100%;
    height: 100%;
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #dbe1e8;
    background: #ffffff url('../img/jquery.chosen/chosen-sprite.png') no-repeat 100% -20px;
    border-radius: 4px;
    font-size: 1em;
    line-height: normal;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #1bbae1;
    color: #fff;
}
/**/
.chosen-container .chosen-results li.no-results {
    display: list-item;
    background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid #dbe1e8;
    background-color: #ffffff;
    cursor: text;
    border-radius: 4px;
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 5px 8px;
    height: 30px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    font-size: 100%;
    line-height: normal;
}
.chosen-container-multi .chosen-choices li.search-field .default {
    color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 7px 0 6px 5px;
    padding: 2px 20px 2px 5px;
    background: #f9fafc;
    border: 1px solid #1bbae1;
    background-color: #1bbae1;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
    line-height: 13px;
    cursor: default;
}
/**/
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 1px;
    right: 2px;
    display: block;
    color: #ffffff;
    width: 12px;
    height: 12px;
    font-size: 12px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
    content: "x";
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    text-decoration: none;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    border: 1px solid #1bbae1;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #1bbae1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #1bbae1;
}
.chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}
.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
}
.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
    left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url('chosen-sprite.png') no-repeat -30px -20px;
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url('../img/jquery.chosen/chosen-sprite@2x.png') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}
/* @end */




