@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic');

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eaedf2;
}
/*
 *
 *navbar
 *
 **/
.navbar-jomelos {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(13, 84, 112, 0.8);
    -moz-box-shadow:    0px 4px 10px 0px rgba(13, 84, 112, 0.8);
    box-shadow:         0px 4px 10px 0px rgba(13, 84, 112, 0.8);
}
.navbar-jomelos a {
    text-decoration: none;
    color: #3e7a82;
}
.navbar-jomelos a:hover {
    color: #295156;
}
.navbar-jomelos > .nav li a {
    color: #3e7a82;
}
.navbar-default .navbar-nav > li > a {
    color: #3e7a82;
}
.btn-green {
    background-color: #7db831;
    border: 1px solid #578022;
    color:  #ffffff;
    font-size: 0.9em;
	margin-right:10px;
}
.btn-green:hover {
    background-color: #aad178;
    border: 1px solid #7db831;
	color:  #ffffff;
	margin-right:10px;
}

.btn-blue {
    background-color: #1bbae1;
    border: 1px solid #1593b3;
    color:  #ffffff;
    font-size: 0.9em;
	
}
.btn-blue:hover {
    background-color: #6ad2eb;
    border: 1px solid #1bbae1;
	color:#ffffff;
}
@media (min-width: 768px) {
    .navbar .brand {
        max-height: 40px;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
    }
    /**/
}
/*navbar end*/





/*
 *
 * Jumbotron
 *
 */
.image-valign-bottom {
    vertical-align: bottom;
	bottom: 30px;
}
.no-jumbotron {
    margin-top: 50px;
}
.jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
    background: url(../img/jumbo_bg.jpg) no-repeat center top;
    margin-top: 50px;
	box-shadow: 0 5px 8px #B3B3B3;
}
.jumbo-row {
    height: 270px;
}
.jumbo-image-holder {
    height: 248px;
}
.jumbo-image-holder img {
    height: 300px;
}

.jumbotron > .container {
    margin-top: -30px;
    height: 365px;
}

/* bottom shadow */
.jumbotron-jomelos {
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    height: 30px;
    width: 100%;
    display: table;
    float: left;
}
/**/

/**/
.jumbotron-inner-shadow {
    -webkit-box-shadow: inset 0px 6px 5px 1px rgba(13, 84, 112, 0.3);
    -moz-box-shadow:    inset 0px 6px 5px 1px rgba(13, 84, 112, 0.3);
    box-shadow:         inset 0px 6px 5px 1px rgba(13, 84, 112, 0.3);
}
/**/

#jumbotron-no-margin {
    margin-left: 0;
    margin-right: 0;
}
.jumbotron-bg {
    /*background: url(../img/jumbo_bg.jpg) no-repeat center top;*/
    min-height: 330px;
    
}
.jumbo_placer {
    display: table;
    float: none;
    width: 100%;
    height: 215px;
    
}
.jumbo_buttons_left {
    display: block;
    float: left;
    width: 47%;
    margin-right: 25px;
    text-align: right;
}
.jumbo_buttons_right {
    display: block;
    float: left;
    width: 40%;
    margin-left: 100px;
    text-align: left;
}

.jumbo_btn_shadows {
    /* upper inset shadow (upper glow), drop shadow (bottom) */
    -webkit-box-shadow: inset 7px 7px 5px -6px rgba(251, 199, 144, 0.75), 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 7px 7px 5px -6px rgba(251, 199, 144, 0.75), 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 7px 7px 5px -6px rgba(251, 199, 144, 0.75), 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.jumbo-btn-orange:hover {
    background-color: #e35f0f;
    color: #fff;
}
.jumbo-btn-orange {
    background-color: #f78a16;
    color: #fff;
}
.jumbo-btn-green {
    background-color: #77cc1a;
    color: #fff;
}
.jumbo-btn-green:hover {
    background-color: #1a8813;
    color: #fff;
}
.jumbo-center-link {
    /*
    display: table;
    float: none;
    width: 100%;
    height: 36px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    */
    bottom: 27px;
    /*font-size: 1.0em;*/
}
.jumbo-center-link a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}
.jumbo-center-link a:hover {
    color: #fff;
    text-decoration: underline;
}
.jumbo_kep_bal {
    float: left;
    display: block;
    z-index: 100;
    margin-right: -35px;
}
.jumbo_txt_bal {
    float: left;
    display: block;
}
.jumbo_txt_bal_1 {
    float: none;
    display: table;
    height: 75px;
    width: 100%;
}
.jumbo_txt_bal_2 {
    float: none;
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.jumbo_txt_bal_3 {
    float: none;
    display: table;
    width: 100%;
}
.jumbo_txt_bal_4 {
    float: none;
    display: table;
    height: 50px;
    width: 100%;
}
.btn_jumbo_munka {
    background: url('../img/btn_bg_narancsgomb.png') center center no-repeat;
    width: 240px;
    height: 53px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1.1em;
	font-weight: 600;
}
.btn_jumbo_munka:hover {
    background: url('../img/btn_bg_narancsgomb.png') center center no-repeat;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
	color: #fff;
	font-weight: 600;
	
}

.jumbo_spacer_top {
    display: table;
    float: none;
    height: 50px;
    width: 100%;
}
.jumbo_spacer_bottom {
    display: table;
    float: none;
    height: 5px;
    width: 100%;
}
.jumbo_image_spacer {
    margin-bottom: 15px; 
	margin-top: 30px;
}

input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}


.jumbo_kep_jobb {
    float: right;
    display: block;
    z-index: 105;
    margin-left: -35px;
	bottom: 20px;
}
.jumbo_txt_jobb {
    float: right;
    display: block;
}
.jumbo_txt_jobb_1 {
    float: none;
    display: table;
    height: 75px;
    width: 100%;
}
.jumbo_txt_jobb_2 {
    float: none;
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.jumbo_txt_jobb_3 {
    float: none;
    display: table;
    width: 100%;
}
.jumbo_txt_jobb_4 {
    float: none;
    display: table;
    height: 50px;
    width: 100%;
}
.btn_jumbo_melos {
    background: url('../img/btn_bg_zoldgomb.png') center center no-repeat;
    width: 240px;
    height: 53px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1.1em;
	font-weight: 600;
}
.btn_jumbo_melos:hover {
    background: url('../img/btn_bg_zoldgomb.png') center center no-repeat;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
	color: #fff;
	font-weight: 600;
}


/*
.jumbo-leftside {
    margin-right: 25px;
}
.jumbo-rightside {
    margin-right: 25px;
}
*/
/**/

/*
 *
 * /JUMBOTRON END
 *
 */





/*
 *
 * shadows
 *
 */
.css3-shadow,
.css3-gradient1,
.css3-gradient2 {
  	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/**/


/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
    left:10%;
    right:10%;
}
/**/



/*
 * frontpage, kereső
 * 
 */
.searchbox {
    box-shadow: 0 1px 2px #B3B3B3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #fff;
    color: #000;
}
.block {
    margin: 0 0 10px;
    background-color: #ffffff;
    border: 1px solid #dbe1e8;
    border-radius: 5px;
}

.block-title {
    background-color: #00b5e2;
    padding-top: 5px;
    padding-left: 5px;
}

.block .block-title{
    background-color: #f9fafc;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.block .tab-default-color a{
    color: #1bbae1;
}

.searchbox-gray {
    color: #868686;
}
.searchbox-gray-2 {
    color: #9b9b9b;
}
.jomunkas-searcher-box li a {
    color: #1bbae1;
}
.jomunkas-searcher-box li a:hover {
    color: #4e5975;
}
.font-bigger {
    font-size: 1em;
}
.jomunkas-searcher-box li > .disabled {
    border: 0;
    color: #000;
}
.searcher-box-disabled {
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 3px 8px;
	font-size: 20px;
}
.label-white-inverse {
    background-color: #fff;
    color: #8f8f8f;
	padding: 7px 8px;
    border-radius: 18px;
    font-size: 17px;
}

.slider-selection {
    background-color: #00b5e2;
}

.searchpanel-block {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
	
}
.searchpanel-lines {
    margin-top: 7px;
    margin-bottom: 7px;
}
.search-box-mini-titles {
    margin-top: -5px;
    
}
/* searcher end */

/* nav tabs */
/*
.block-title .nav-tabs,
.block-options {
    min-height: 40px;
    line-height: 38px;
}

.block-title .nav-tabs {
    padding: 3px 1px 0;
    border-bottom: none;
}

.block-title .nav-tabs > li > a {
    border-bottom: none;
}

.block-title .nav-tabs {
    margin-bottom: -2px;
}

.block-title .nav-tabs > li > a {
    margin-bottom: 0;
}

.block-title .nav-tabs > li > a:hover {
    background: none;
}

.block-title .nav-tabs > li.active > a,
.block-title .nav-tabs > li.active > a:hover,
.block-title .nav-tabs > li.active > a:focus {
    border: 1px solid #eaedf1;
    border-bottom-color: #ffffff;
    background-color: #ffffff;
}
*/
.tab-default-color {
    color: #fff;
}
.tab-default-color a {
    text-decoration: none;
    color: #fff;
}
.searcher-box-button {
    background-color: #85e31f;
    border-color: #62A717;
    color: #fff;
    
}
.searcher-box-button:hover {
    background-color: #8BF01E;
    border-color: #62A717;
    color: #fff;
    
}
#search-select-1 {
    width: 250px;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.searcher-select {
    /*border-radius: 3px;
    -moz-border-radius: 3px; */
    color: #b9b9b9;
    font-size: 12px;
    padding: 9px;
    text-align: left;
    vertical-align: middle;
}
.searcher-select li {
    color: #b9b9b9;
    font-size: 12px;
    padding: 2px;
    
}
/*
.slider-handle {
    width: 18px;
    height: 18px;
    margin-top: -5px;
}
.slider-track {
    height: 7px;
}
*/
/* nav tabs end */



/*
 * ==================================================
 * facebook like box
 * ==================================================
 */
.fb_box {
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
	box-shadow: 0 1px 2px #B3B3B3;
}
.fb_box > .block-title {
    background-color: #f9fafc;
    border-bottom-color: #1bbae1;
    border-bottom: 1px solid #1bbae1;
    border-bottom-style: solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: #00b5e4;
}
/*
.fb_box > .block-title,
.fb_box > .block-top {
    margin-left: -20px;
    margin-right: -20px;
}
*/
.fb_box > .block-title h1,
.fb_box > .block-title h2,
.fb_box > .block-title h3,
.fb_box > .block-title h4,
.fb_box > .block-title h5,
.fb_box > .block-title h6 {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 16px 7px;
    font-weight: normal;
}

.fb_box > .block-title h1 small,
.fb_box > .block-title h2 small,
.fb_box > .block-title h3 small,
.fb_box > .block-title h4 small,
.fb_box > .block-title h5 small,
.fb_box > .block-title h6 small {
    font-size: 13px;
    /*color: #777777;*/
    font-weight: normal;
}

.fb_box > .block-title h1,
.fb_box > .block-title h2,
.fb_box > .block-title h3 {
    padding-left: 15px;
    padding-right: 15px;
}
.block-options .btn {
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 30px;
    text-align: center;
}
.btn-round {
    border-radius: 25px;
    -moz-border-radius: 25px;
}
.btn-fb {
    vertical-align: middle;
    text-align: center;
    /*border: 1px solid #777777;*/
    -moz-border-radius: 25px;
    /*padding: 0px;
    margin: 0px;*/
    border-radius: 25px;
    background-color: #fff;
    color: #00b5e4;
    margin-right: 5px;
}

.fb-like-box {
    background-color: #ffffff;
    
}

#searcher-fb-like-box-fb-button {
    color: #00b5e4;
}
.fb-box-spacer {
    display: table;
    float: none;
    width: 100%;
    height: 10px;
}

/* FB END */









/* Carousel */
.carousel-control.left,
.carousel-control.right,
.carousel-control.left.no-hover:hover,
.carousel-control.right.no-hover:hover {
    background: none;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    background: url('../img/template/ie8_opacity_dark_30.png') repeat;
    background: rgba(0, 0, 0, 0.30);
}

.carousel-control span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control i {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

/* Gallery */
.gallery img, .gallery a img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 100%;
}

a[data-toggle="lightbox-image"],
a.gallery-link {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.gallery a:hover img,
.gallery-image:hover img,
a[data-toggle="lightbox-image"]:hover img {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.gallery-image {
    position: relative;
}

.gallery-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.gallery-image:hover .gallery-image-options {
    display: block;
}

.gallery > .row > div {
    margin-bottom: 15px;
}

.gallery.gallery-widget > .row > div {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}




/*** galery stuff #3 **/

/* munka slider */
.cs-item {
    background-color: #ffffff;
    box-shadow: 0 1px 2px #B3B3B3;
	border-radius: 4px;
    -moz-border-radius: 3px;
    height: 250px;
    width: 210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #727272;
    background-color: #ffffff;
	border-bottom: 1px solid #A9CEFF;
	-moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
   
}
.cs-item-hover-title {
    background-color: #ffffff;
    color: #727272;
    text-align: center;
    font-weight: 500;
    display: table;
    float: none;
    width: 100%;
    height: 50px;
    padding: 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    border-bottom: 1px solid #A9CEFF;

    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottombottom:0px; /* position will be on bottom */  
    left:0px;  
    
    
    background-color: #3F3F3F;  
    font-family: 'tahoma';  
    font-size: 15px;  
    color: #fff;
    opacity: 0.9; /* transparency */  
    filter: alpha(opacity=60); /* IE transparency */  
    
    
}
.cs-item-topblock {
    background-color: #f3f3ff;
    text-align: center;
    vertical-align: middle;
    display: table;
    float: none;
    width: 100%;
    height: 150px;
	-moz-border-radius: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
}
.cs-item-bottom-block {
    display: table;
    float: none;
    width: 100%;
    height: 100px;
    color: #4b4b4b;
}
.cs-item-bb-left {
    float: left;
    display: block;
    width: 50px;
    height: 100px;
}
.cs-item-bb-center {
    text-align: center;
    float: left;
    display: block;
    width: 110px;
    height: 100px;
}
.cs-item-bb-right {
    float: left;
    display: block;
    text-align: right;
    vertical-align: bottom;
    width: 47px;
    height: 100px;
    position: relative;
}
.cs-item-bb-right img {
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 5px;
}

.cs-item-bb-txt-head {
    font-size: 1.1em;
    color: #4b4b4b;
    display: table;
    float: none;
    text-align: center;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #dadada;
	font-weight: 600;
    
}
.cs-item-bb-txt-time {
    display: table;
    float: none;
    text-align: center;
    width: 100%;
    padding: 4px;
	font-size: 15px;
}
.cs-item-bb-txt-time i {
    color: #626161;
}
.cs-item-bb-txt-price {
    display: table;
    float: left;
    text-align: center;
    color: #0089ab;
    font-weight: bold;
    font-size: 1.12em;
    width: 100%;
    padding: 4px;
}
.label-big {
    font-size: 18px;
    color: #ffffff;
    padding: 8px;
    background-color: #1bbae1;
    font-weight: 400;
	margin-top: 10px;
}
.label-holder {
    display: table;
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
}
/* /munka slider */
.label-holder .label {
    display: block;
    float: left;
}
/******/



/**** munkás slider *******/
.cs-w-slider-title-left {
    display: block;
    float: left;
    vertical-align: middle;
    margin-left: 10px;
	padding-top: 15px;
}
.cs-w-slider-title-left a {
    text-decoration: none;
    color: #323338;
}
.cs-w-slider-title-left a:hover {
    text-decoration: underline;
    color: #323338;
}


.ms-kep image {
    border-radius: 25px;
    -moz-border-radius: 25px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
.img-minied {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    -moz-border-radius: 40px;
}
.ms-image-holder {
    height: 85px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.ms-image-holder:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    /*content: ' ';*/
}
.ms-image-holder img {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ms-img-odd .cs-item-topblock {
    background-color: #32323a;
}
.ms-img-even .cs-item-topblock {
    background-color: #394263;
}
.ms-img-odd .ms-img-txt {
    color: #1ec1b8;
}
.ms-img-even .ms-img-txt {
    color: #1bbae1;
}

.ms-img-txt {
    display: table;
    float: none;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 100%;
}
.ms-img-txt-place {
    display: table;
    float: none;
    /*padding-bottom: 5px;*/
    text-align: center;
    width: 100%;
    color: #ffffff;
	font-size: 16px;
}
.btn-sender {
    padding: 0;
    margin: 0;
}
.slider2 {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
/********* /munkás slider ********/









/** bx **/
.bx_customNavigation{
    text-align: center;
    position: relative;
}
//use styles below to disable ugly selection
.bx_customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
.bx_customNavigation a:hover {
    text-decoration: none;
}
.bx_customNavigation a i {
    /*-webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.39);*/
    height: 250px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    color: #fff;
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
.bx_customNavigation a i:hover {
    background: rgba(0, 0, 0, 0.6);
}
.bx-prev {
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 30px;
    /*background: rgba(0, 0, 0, 0.05);*/
    text-align: center;
    height: 250px;
    vertical-align: middle;
    /*margin-top: -259px;*/
    font-size: large;
    font-weight: bold;
    color: #fff;
    /*margin-left: 23px;*/
    padding-right: 30px;
}
.bx-prev span {
    /*
    height: 250px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
    */
}
.bx-prev:hover {
    /*
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.3;
    */
    color: #fff;
}
/**/
.bx-next {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 30px;
    text-align: center;
    height: 250px;
    vertical-align: middle;
    /*margin-top: -259px;*/
    font-size: large;
    font-weight: bold;
    color: #fff;
    /*padding: 10px;*/
    
    /*
    margin-right: 37px;
    */
    /*padding-left: 23px;*/
    /*padding-right: 30px;*/
}
@media(max-width:767px){
    .bx-next {
	margin-right: 0;
    }
    .bx-prev {
	margin-left: 0;
    }
    .slider1 {
	margin-left: 20px;
	margin-right: 20px;
    }
    .slider2 {
	margin-left: 20px;
	margin-right: 20px;
    }
}
@media(min-width:768px){
    .bx-next {
	margin-right: 0;
    }
    .bx-prev {
	margin-left: 0;
    }

}
@media(min-width:992px){
    .bx-next {
	margin-right: 0;
    }
    .bx-prev {
	margin-left: 0;
    }

}
@media(min-width:1200px){
    .bx-next {
	margin-right: 32px;
    }
    .bx-prev {
	margin-left: 31px;
    }

} 


.bx-next span {
    /*
    height: 250px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    */
}
.bx-next:hover {
    /*
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.3;*/
    color: #fff;
}

.bx-wrapper .bx-viewport {
    box-shadow: 0;
    background: none;
    border: none;
}

/** /bx **/











.panel-former {
    padding: 8px;
}

.li-ico-green {
    list-style: none;
    padding: 3px;
}

.li-ico-green li {
    background-image: url('../img/li-icon-green.png');
    background-repeat: no-repeat;
    padding-left: 25px;
    margin: 0.4em;
}
.li-ico-orange {
    list-style: none;
    padding: 3px;
}
.li-ico-orange li {
    background: url('../img/li-icon-orange.png') 100% 0% no-repeat;
    padding-right: 25px;
    margin: 0.4em;
    
}
.infobox-bg {
    background-color: #f5f2e9;
}
.btn-play {
    background: url('../img/btn-play.png') no-repeat;
    border: none;
    content: '';
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    white-space: nowrap;
}
.infotitle {
    font-size: 1.30em;
    font-weight: bold;
}



/*
 * =========================================
 * TAB nav | old
 * =========================================
 *
 */
#myTab_old {
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #feffff; 
    background: -moz-linear-gradient(top,  #feffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
/*
.panel1 {
    background-color: #4cbcea;
    -webkit-box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow:         7px 7px 5px -6px rgba(0, 0, 0, 0.75);
}
*/
.tabheader {
    display: table;
    float: none;
    border-radius: 5px;
    border: 1px solid #dadada;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
    width: 100%;   
}
.tabheader a {
    color: #6b6a6a;
    text-decoration: none;
}
.tabheader a:hover {
    text-decoration: underline;
}

.tab1 {
    display: block;
    float: left;
    width: 45%;
    padding: 2px;
}
.tab2 {
    display: block;
    float: left;
    width: 45%;
    padding: 2px;
}
.tab-inner {
    display: block;
    float: left;
    width: 25px;
    background: url('../img/tab-elvalaszto-01.png') center center no-repeat;
    height: 25px;
}
/**/




.slider-label {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    display: table;
    width: 100%;
    float: none;
}
.text-white {
    color: #fff;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.slider_one {
    display: table;
    float: none;
    width: 100%;
	padding-top: 6px;
}
.slider_two {
    display: table;
    float: none;
    width: 100%;
}

.stat_line2 {
    margin-bottom: 10px;
}
.stat_header {
    margin: 5px;
    font-size: 1.2em;
}


/* slider */
.carousel-control {
  padding-top:10%;
  width:5%;
}
.label-black {
    color: #fff;
    background-color: #000;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#carousel-label {
    margin-bottom: 10px;
    font-size: 1.0em;
    padding: 3px;
}
.carousel-label-box {
    display: table;
    float: none;
    width: 100%;
    margin-bottom: 10px;
}
.carousel-label-box span {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 3px 10px 3px 10px;
}
.label-link {
    padding: 3px 10px 3px 10px;
    background-color: #00aeef;
    color: #fff;
    font-size: 1em;
}
.label-link a {
    text-decoration: none;
    color: #fff;
}
.label-link a:hover {
    text-decoration: underline;
}
.slider-item-line {
    display: table;
    float: none;
    width: 100%;
}
.slider-item-price {
    display: block;
    float: left;
    width: 70%;
}
.slider-item-rate {font-size: 14px;}

.slider-item-rate-msg {
    /*display: block;
    float: left;
    width: 70%;*/
    font-size: smaller;
    color: #626161;
}
.slider-item-button {
    display: block;
    float: left;
    width: 15%;
}
.slider-item {
    display: table;
    width: 80%;
    float: none;
    background-color: #d7d7d7;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slider-item a{
    text-decoration: none;
    color: #2f2f2f;
}
.slider-item a:hover span {
    background-color: #00ff00;
}

.slider-item-rate-btn {
    text-align: center;
    width: 100%;
    float: none;
    display: table;
    color: #2e2e2e;
}

/**/
.szakember-rate-txt {
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    float: left;
}
.szakember-rate-color-good {
    color: #e3bc00;
}
.szakember-rate-color-bad {
    color: #7c0e11;
}
.szakember-rate-btn-good {
    color: #9fd200;    
}
.szakember-rate-btn-bad {
    color: #ffa000;
}
.szakember-rate-btn-nope {
    color: #01c6cb;
}
.btn-sender {
    background: none;
    border: none;
    display: block;
    float: left;
}
.slider-item-btns {
    /*margin-left: auto;
    margin-right: auto;*/
    display: table;
    float: none;
    width: 100%;
    text-align: center;
    position: absolute;
}
.m-slider-wrapper {
    display: table;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 15px;
}
.noform {
    display: block;
    float: inherit;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* Tables */
.table.table-vcenter th,
.table.table-vcenter td {
    vertical-align: middle;
}
.table thead > tr > th {
    font-weight: 600;
}

.table thead > tr > th > small {
    font-weight: 400;
    font-size: 75%;
}

.table-borderless tbody > tr > th, 
.table-borderless tbody > tr > td { 
 	border-top-width: 0; 
 } 

.munkak_result_link {
    text-decoration: none;
    color: #000;
}
.munkak_result_link:hover {
    text-decoration: underline;
}



/*
 * ========================================
 * FOOTER
 * ========================================
 */
/*
.footer-links a{
    margin-right: 5px;
    text-decoration: none;
    color: #9b9b9b;
}
.footer-links a:hover {
    text-decoration: underline;
    color: #202020;
}
.footer {
    border-top: 1px solid #828282;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
*/

/* Footer */
.site-footer {
    color: #656565;
    padding-top: 11px;
    padding-bottom: 40px;
    background-color: #252525;
}

.footer-heading {
    color: #ffffff;
    font-size: 19px;
    margin: 29px 0 15px;
}

.footer-nav a {
    color: #777777;
    -webkit-transition: all ease-out 0.15s;
    transition: all ease-out 0.15s;
}

.footer-nav a:hover {
    text-decoration: none;
}

.footer-nav-social a {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #151515;
    border-radius: 13px;
    -webkit-transition: all ease-out 0.25s;
    transition: all ease-out 0.25s;
}

.footer-nav-social a:hover {
    color: #ffffff;
    background-color: #1bbae1;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
}
.footer {
    padding-top: 30px;
    background-color: #252525;
}
.footer-dark-spacer {
    background-color: #252525;
    height: 30px;
}
.site-section {
    padding: 10px 0;
}





/*
 * ======
 * ===========
 * ==================
 * ===============================
 * =================================================
 *  MUNKÁK Site
 * ===============================================
 * ============================
 * ===================
 * ==========
 * ===
 */
.navbar-bottom-spacer {
    display: table;
    width: 100%;
    height: 50px;
    float: none;
}
/**/



/*
 * ======================
 * munkak - kereso box - component
 * ========================
 *
 */
.munkak-kereso-box {
    background-color: #ffffff;
    box-shadow: 0 1px 2px #B3B3B3;
    border-radius: 3px;
    margin-bottom: 25px;    
    padding-top: 5px;
    padding-bottom: px;
}
.munkak-searcher-box-slider-titles {
    margin-top: -17px;
}
.munkak-searcher-box-text-1 {
    margin-left: 0px;
    padding: 0;
}
.munkak-searcher-box-text-2 {
    margin-left: -3px;
    padding: 0;
}
/*
.munkak-kereso-btn-box {
    position: relative;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.munkak-kereso-btn-box button {
    text-align: center;
    vertical-align: middle;
    position: absolute;
}
*/
.padding-bottom-10{
    padding-bottom: 6px;
    padding-top: 4px;
}
.munkak-kereso-btn-box {
    /*display: table;*/
    /*position: relative;
    height: 60px;
    width: 100%;
    
    vertical-align: middle;
    */
    padding-top: 15px;
    padding-left: 0;
    margin-left: -5px;
}
/*
.munkak-kereso-btn-box button {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 25px;
}
*/
.btn-munkak-submit {
    background-color: #85e31f;
    border: 1px solid #62a717;
    /*text-align: center;
    vertical-align: middle;
    line-height: 15px;*/
    color: #ffffff;
}
.btn-munkak-submit:hover {
    color: #373737;
    background-color: #61a714;
}

.munkak-table-img {
    border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
    margin: 10px 0px 0px;
    padding: 4px 4px 4px;
    background-color: #FFF;
    border: 1px solid #DBE1E8;
}

.munkak-table-hovertext{
margin: 10px 0px 10px;
border-top: 2px solid #F1F1F1;

}
/**/
.munkak-table-extrabox {
    display: table;
    float: none;
    width: 100%;
	margin-bottom: 22px;
}
/**/
.munkak-table-munka-cim {
    display: table;
    float: none;
    width: 100%;
	margin-bottom: 39px;
}
.munkak-table-munka-cim a {
    text-decoration: none;
    color: #1bbfe7;
}
.munkak-table-munka-cim a:hover {
    color: #128ead;
}
.munkak-ar-label {
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    
}
.munkak-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0 1px 2px #B3B3B3;
}
.munkak-table thead {
    background-color: #ffffff;
}
.munkak-table-odd {
    background-color: #ffffff;
}
.munkak-table-even {
    background-color: #f9f9f9;
}
.pagination-rounded {
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination {
    padding: 10px;
    border: none;
    background-color: #ffffff;
	box-shadow: 0 1px 2px #B3B3B3;
}
/*
.pagination > .active,
.pagination > .active > a {
    background-color: #1bbae1;
}
.pagination > li > span {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
}
.pagination li a:hover {
    background-color: #1bbae1;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
*/


.pagination > li > a,
.pagination > li > span  {
    color: #1bbae1;
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
    border-radius: 5px !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #1bbae1;
}



/**/


/*****
 *
 *==========================
 * szakemberek page
 *==========================
 *
 */
.szakember-kereso-box {
    font-size: 13px;
}
.szakember-kereso-box .no-padding {
    padding: 0;
}
.szakember-kereso-box .no-padding-side {
    padding-left: 0;
    padding-right: 0;
}

.szakember-kereso-box .no-padding-left {
    padding-left: 0;
    
}
.szakember-kereso-box .no-padding-right {
    padding-right: 0;
}
.szakemberek-kereso-blocker {
    display: block;
    float: left;
    height: 100%;
    padding: 5px;
    
}

/* responsive hoak for custom searcher */
@media(max-width: 767px){
  .szakemberek-kereso-blocker-longer {
	width: 100%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 100%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 100%;
    }
    .szakemberek-kereso-blocker-shorter .munkak-kereso-btn-box {
	margin-left: auto;
	margin-right: auto;
    }
}
@media(min-width:768px){
  .szakemberek-kereso-blocker-longer {
	width: 50%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 50%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 50%;
    }
    .szakemberek-kereso-blocker-shorter .munkak-kereso-btn-box {
	margin-left: auto;
	margin-right: auto;
    }
}
@media(min-width:992px){
    .szakemberek-kereso-blocker-longer {
	width: 33%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 33%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 33%;
    }
    .szakemberek-kereso-blocker-shorter .munkak-kereso-btn-box {
	margin-left: auto;
	margin-right: auto;
    }
}
@media(min-width:1200px){
    .szakemberek-kereso-blocker-longer {
	width: 20%;
    }
    .szakemberek-kereso-blocker-shorter {
	width: 12%;
	text-align: center;
    }
    .szakemberek-kereso-blocker-normal {
	width: 16%;
    }
} 
/**/
.szakember-table-hovertext-head {
    text-align: left;
    width: 100%;
    display: table;
    float: none;
    margin-bottom: 3px;
    color: #40a0be;
}
.szakember-table-hovertext-txt {
    color: #545454;
    font-weight: lighter;
    font-size: small;
}

/**/
.szakember-lista-pd-nev {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
.szakember-lista-pd-starrate {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
/* sm */
@media(min-width:768px){
    .szakember-lista-pd-starrate {
	font-size: 13px;
    }
    .td-font-size {
	font-size: 13px;
    }
}




.szakember-lista-pd-ratebtns {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
.szakember-lista-pd-reviews {
    display: table;
    float: none;
    width: 100%;
    margin: 4px;
}
/**/
.szakember-table-pic-btn-btn {
    background-color: #6ad2eb;
    border-color: #1bbae1;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.szakember-table-pic-btn-btn:hover {
    color: #ffffff;
    background-color: #71C8DD;
    border-color: #1bbae1;
}
/**/

.szakember-table-pic-btn {
    display: table;
    float: none;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.szakember-table-hovertext-placer {
    width: 98%;
}
.szakember-table-picrow {
    width: 150px;
}
/**/
.szakember-lista-opt-up {
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;
}
.szakember-lista-opt-dn {
    display: table;
    float: none;
    text-align: right;
    vertical-align: top;
    width: 94%;
}

.szakember-lista-opt-holder {
    position: relative;
    height: 90px;
    width: 100%;
}
/**/





/**/
.label-kiemelt {
    background-color: #e67e22;
    color: #fff;
}

















/*
=================================================================
(#m05ths) THEME
=================================================================
*/

/* Default Color Theme specific colors */
.themed-color {
    color: #1bbae1;
}

.themed-border {
    border-color: #1bbae1;
}

.themed-background {
    background-color: #1bbae1;
}

.themed-color-dark {
    color: #394263;
}

.themed-border-dark {
    border-color: #394263;
}

.themed-background-dark {
    background-color: #394263;
}
/* Counter */
.counter {
    text-align: center;
    color: #ffffff;
}

.counter span {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    display: block;
}

.counter small {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}


/**/
/* Scroll to top link */
#to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 3px;
    padding: 0 12px 3px;
    font-size: 28px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#to-top:hover {
    color: #ffffff;
    background-color: #1bbae1;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}


/**************************** PLUGINS *****************************************/




/* Forms */
label {
    font-weight: 600;
}

fieldset legend {
    font-size: 16px;
    padding: 30px 0 10px;
    border-bottom: 2px solid #eaedf1;
}

input[type="file"] {
    padding-top: 7px;
}

input[type="text"].form-control,
input[type="password"].form-control,
input[type="email"].form-control,
textarea.form-control {
    -webkit-appearance: none;
}

.form-control {
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #394263;
    border-color: #dbe1e8;
}

.form-control-borderless .form-control,
.form-control-borderless .input-group-addon,
.form-control-borderless,
.form-control-borderless:focus {
    border: transparent !important;
}

.input-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.input-group .form-control {
    margin-top: 0;
}

.form-control:focus {
    border-color: #1bbae1;
}

.help-block {
    color: #777777;
    font-weight: 400;
}

.input-group-addon {
    min-width: 45px;
    text-align: center;
    background-color: #ffffff;
    border-color: #dbe1e8;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-bordered {
    margin: -15px -15px -1px;
}

.modal-body .form-bordered {
    margin-bottom: -20px;
}

.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 15px;
    border-bottom: 1px dashed #eaedf1;
}

.form-bordered .form-group.form-actions {
    background-color: #f9fafc;
    border-bottom: none;
}

.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .help-block,
.has-success .control-label,
.has-success .input-group-addon,
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .radio,
.has-success .radio-inline {
    color: #27ae60;
}

.has-success .form-control,
.has-success .input-group-addon {
    border-color: #27ae60;
    background-color: #ffffff;
}

.has-success .form-control:focus {
    border-color: #166638;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .input-group-addon,
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .radio,
.has-warning .radio-inline {
    color: #e67e22;
}

.has-warning .form-control,
.has-warning .input-group-addon {
    border-color: #e67e22;
    background-color: #ffffff;
}

.has-warning .form-control:focus {
    border-color: #b3621b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .input-group-addon,
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .radio,
.has-error .radio-inline {
    color: #e74c3c;
}

.has-error .form-control,
.has-error .input-group-addon {
    border-color: #e74c3c;
    background-color: #ffffff;
}

.has-error .form-control:focus {
    border-color: #c0392b;
}








/*
=================================================================
(#05chs) Chosen

MIT License
=================================================================
*/

/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
	padding-bottom: 6px;
}
/**/
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1041;
    width: 100%;
    border: 1px solid #1bbae1;
    border-top: 0;
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}
.chosen-container a {
    cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 34px;
    border: 1px solid #dbe1e8;
    background-color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    border-radius: 4px;
    color: #394263;
}
.chosen-container-single .chosen-default span {
    color: #999;
}
.chosen-container-single .chosen-single span {
    height: 34px;
    line-height: 34px;
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/jquery.chosen/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
/**/
.chosen-container-single .chosen-single div b {
    display: block;
    margin-top: 6px;
    width: 100%;
    height: 100%;
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #dbe1e8;
    background: #ffffff url('../img/jquery.chosen/chosen-sprite.png') no-repeat 100% -20px;
    border-radius: 4px;
    font-size: 1em;
    line-height: normal;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #1bbae1;
    color: #fff;
}
/**/
.chosen-container .chosen-results li.no-results {
    display: list-item;
    background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid #dbe1e8;
    background-color: #ffffff;
    cursor: text;
    border-radius: 4px;
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 5px 8px;
    height: 30px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    font-size: 100%;
    line-height: normal;
}
.chosen-container-multi .chosen-choices li.search-field .default {
    color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 7px 0 6px 5px;
    padding: 2px 20px 2px 5px;
    background: #f9fafc;
    border: 1px solid #1bbae1;
    background-color: #1bbae1;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
    line-height: 13px;
    cursor: default;
}
/**/
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 1px;
    right: 2px;
    display: block;
    color: #ffffff;
    width: 12px;
    height: 12px;
    font-size: 12px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
    content: "x";
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    text-decoration: none;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    border: 1px solid #1bbae1;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #1bbae1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #1bbae1;
}
.chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}
.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
}
.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
    left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url('chosen-sprite.png') no-repeat -30px -20px;
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url('../img/jquery.chosen/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

/*Tomi*/
.padding-fix-searcher{ padding-right:0px !important; padding-left:0px! important;}
.txt-keresek-hoak {top:30px;}
.white { background-color:#ffffff !important;}
.td-font-size{font-size:13px;}
/* sm */
@media(min-width:768px){
 .td-font-size {
    font-size: 10px;
 }
 .m-slider-wrapper {
    font-size: 13px;
 }
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-image: url('../img/jquery.chosen/chosen-sprite@2x.png') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
  }
  
}



/* @end */





/*
 * ================================================
 * MUNKA RÉSZLETEK
 * ================================================
 *
 */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/**/

.mr-block-right {
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #eaedf1;
}
.mr-block-right-spacer {
    padding: 10px;
}
.mr-ei-btn-holder {
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.btn-mr-apply {
    margin-left: auto;
    margin-right: auto;
    background-color: #6ad2eb;
    border-color: #1ba3c5;
    color: #ffffff;
    font-size: 17px;
    width: 100%;
}
.btn-mr-apply:hover {
    background-color: #53a7d5;
    color: #ffffff;
    border-color: #1ba3c5;
}

.mr-block-holder {
    border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 2px #b3b3b3;
    -moz-box-shadow: 0 1px 2px #b3b3b3;
}
.mr-block-left-hoak {
    /*width: 98%;*/
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.mr-ei-munkaado-block {
    /*padding: 8px;*/
    
}
.mr-ei-munkaado-block-holder {
    background-color: #f9f9f9;
    display: table;
    width: 100%;
}
.mr-ei-munkaado-name-name {
    font-size: 15px;
    color: #24bde2;
}
.mr-ei-munkaado-name-title {
    font-size: 13px;
    font-style: italic;
    color: #515976;
}
.mr-ei-munkaado-btitle {
    padding-left: 20px;
    font-size: 12px;
}
.mr-ei-munkaado-pic {
    height: 80px;
    position: relative;
}
.mr-ei-munkaado-pic img {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    height: 65px;
    top: 0;
    bottom: 0;
    left: 0;
    /*margin-left: 10px;*/
}

.mr-ei-munkaado-name {
    /*vertical-align: middle;*/
    height: 80px;
    position: relative;
    display: table;
}
.mr-ei-munkaado-name-holder {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    height: 40px;
    top: 0;
    bottom: 0;
    margin-left: 10px;
}
.mr-ei-munkaado-starrate-holder {
    height: 80px;
    position: relative;
    display: table;
    width: 100%;
}
.mr-ei-munkaado-starrate-placer {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    height: 60px;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    width: 100%;
}
.mr-ei-munkaado-col-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.munka-reszletek-header {
    font-size: 17px;
    padding: 10px;
    font-weight: 600;
    color: #394263;
    border-bottom: 1px solid #ddd;
	-moz-border-radius: 0px;	
-webkit-border-radius: 4px 4px 0px 0px;			
border-radius: 4px 4px 0px 0px;
}

.munka-reszletek-block-head-bg {
    background-color: #f9fafc;
}
.mr-title {
    margin: 10px 0 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
    font-weight: 500;
    color: #1bbae1;
    font-size: 17px;
}
.mr-block-left {
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #eaedf1;
}
.mr-datablock-td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d6d8d5;
    background-color: #f9f9f9;
    display: table;
    float: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 12px;
    padding: 10px 0;
}
.mr-datablock-td-rb {
    border-right: 1px solid #d6d8d5;
}
.mr-datablock-panel-txt-down {
    color: #3bafda;
    font-size: 16px;
}
/**/


.mr-avg-head-txt {
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
    color: #404969;
}
.mr-avg-txtblock {
    margin-bottom: 10px;
    font-size: 12px;
}
.mr-avg-txtblock a{
    color: #1ebbe1;
    text-decoration: none;
}
.mr-avg-txtblock a:hover {
    text-decoration: underline;
}
/**/

.mr-avg-doclist {
    
}
.mr-avg-doclist li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 12px;
}
.mr-avg-doclist li a {
    text-decoration: none;
    color: #1ebbe1;
    padding-left: 6px;
}
.mr-avg-doclist li a:hover {
    text-decoration: underline;
}
/**/

.mr-desc-txt {
    color: #404969;
    background-color: #f9f9f9;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 1.5;
    font-size: 12px;
}
/**/

.mr-images-imgset {
    
}
.mr-images-imgset a {
    text-decoration: none;
}
.mr-images-imgset a:hover {
    text-decoration: none;
}
.mr-images-imgset-label {
    font-style: italic;
    font-weight: lighter;
    color: #9e9e9e;
    font-size: 12px;
}
.mr-images-imgblock-1 {
    padding: 0;
    margin: 0 15px 0 -10px;
}
.mr-images-imgblock-2 {
    margin: 0;
    padding: 0;
}
/**/

.mr-block-spaceship {
    margin-top: 15px;
}
.mr-eam-btn-holder {
    display: table;
    width: 100%;
}
.mr-ajanlat-btn {
    display: table;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    text-align: center;
    background-color: #85e31f;
    border: 1px solid #62a717;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
/**/


/* munkaval kapcsolatos kérdések */
.mr-mkk-block {
    margin-top: 15px;
    width: 100%;
}
/**/

.media-body {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.mr-mkk-reply-block {
    width: 100%;
    display: table;
    float: none;
}
.mr-mkk-reply-btn-reply {
    background-color: #6ad2eb;
    color: #ffffff;
    text-decoration: none;
}
.mr-mkk-reply-btn-reply:hover {
    background-color: #82d9ee;
}
.mr-mkk-reply-btn-reply:active {
    background-color: #6ad2eb;
}
.mr-mkk-rb-btngroup {
    display: table;
    width: 100%;
    text-align: left;
    margin-top: 8px;
}
/**/
.mr-rp-rpbox {
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dddddd;
}
.mr-rp-rpbox-desc {
    font-size: 12px;
}
.mr-rp-img-holder > .munkak-table-img {
    margin-top: 0;
}
.mr-rp-upper-box {
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 10px;
}
.mr-rp-reply-item-box {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px dotted #dddddd;
}
.mr-ajanlattevo-msg-bot {
    font-size: 12px;
    padding-left: 15px;
    /*width: 410px;*/
}
.mr-ajanlattevo-msg-top {
    /*width: 410px;*/
    font-size: 12px;
    color: #2caece;
    padding-left: 15px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
}
.mr-ajanlattevo-msg-bot a{
    color: #2caece;
    text-decoration: none;
}
.mr-ajanlattevo-msg-bot a:hover {
    text-decoration: underline;
}
.mr-rp-td {
    width: 150px;
}
.td-on-the-top {
    vertical-align: top;
}
.mr-ajanlatadok-tabla-ar-ido {
    font-size: 12px;
    margin-top: 15px;
}
.mr-aa-tabla-ar-oszlop {
    width: 150px;
}
.mr-aa-t-th-1 {
    width: 75%;
}
.mr-aa-t-th-2 {
    width: 25%;
}


.mr-aa-td-1 {
    width: 110px;
}
.mr-aa-td-2 {
    width: 140px;
}
.mr-aa-td-3 {
    width: 500px;
}
.mr-aa-td-4 {
    width: 125px;
}
.mr-aa-td-5 {
    width: 162px;
}
.mr-aa-td-r-spacer {
    padding-right: 25px;
}
.mr-aa-td-r-2 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    float: none;
}
.mr-aa-td-r-2-1 {
    margin-top: 7px;
}






/******************
 *===================================
 *
 * Munkáltató részletek
 *
 *===================================
 *****************/
/* Content Header */
.content-header {
    background-color: #ffffff;
    border-top: 1px solid #eaedf1;
    border-bottom: 1px solid #dbe1e8;
}
.content-header h1,
.content-header h2 {
    margin: 0;
    font-size: 26px;
    line-height: 32px;
}
.content-header small
.content-header small{
    font-size: 17px;
}
/**/

.header-section h1 i {
    font-size: 56px;
    float: right;
    margin: 2px 0 0 10px;
    color: #eaedf1;
    margin: 0 0 0 10px;
    line-height: 64px;
}

.header-section {
    padding: 10px 10px 10px 15px;
}

.content-header,
.content-top {
    margin: -10px -5px 10px;
}

.content-header-media {
    position: relative;
    height: 248px;
    overflow: hidden;
    border-top-color: #222222;
}

.content-header-media .header-section {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background: url('../img/template/ie8_opacity_dark_60.png') repeat;
    background: rgba(0, 0, 0, 0.6);
}

.content-header-media small,
.content-header-media i {
    color: #dddddd;
}

.content-header-media > img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2560px;
    height: 248px;
    margin-left: -1280px;
}

.content-header-media > .content-header-media-map {
    height: 270px;
}
/**/


.mp-header-avatar {
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 15px;
}
.mp-header-rate {
    font-size: 14px;
}
.mp-header-rate .td-font-size {
    font-size: 14px;
}
.mp-header-rate .szakember-rate-color-bad {
    color: #ff2d22;
}
.mp-header-review-link {
    color: #1cabce;
    text-decoration: none;
    font-size: 11px;
}
.mp-header-review-link:hover {
    text-decoration: underline;
    color: #1cabce;
}
/**/

.mp-a-last-here {
    color: #1cabce;
    
}
.mp-a-user-title {
    margin-top: 10px;
    font-weight: bold;
}
/**/
.mp-contact-header {
    font-size: 13px;
    font-weight: normal;
}
.mp-a-contact-btn {
    padding: 8px;
}

.mp-a-userblock-place-link a{
    color: #1cabce;
    text-decoration: none;
}
.mp-a-userblock-place-link a:hover{
    color: #1cabce;
    text-decoration: underline;
}
.mp-a-user-row-spacer {
    margin-top: 8px;
    margin-bottom: 8px;
}
.mp-a-user-row-line-spacer {
    line-height: 20px;
}
.label-info-dark {
    background-color: #2980b9;
}

/**/


.mp-b-header {
    color: #1cabce;
}
.mp-b-sum-line {
    font-size: 14px;
}
.mp-b-sum-line .td-font-size {
    font-size: 13px;
}
.mp-b-line-padding-hoak {
    padding-right: 0;
}
.mp-b-head-bump {
    margin-top: 15px;
}
.mp-b-line-font-hoak {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mp-b-line-font-hoak .td-font-size {
    font-size: 12px;
}
.mp-b-rate-bg-holder {
    background-color: #f9f9f9;
    margin-top: 10px;
    margin-left: 5px;
    padding: 4px;
}
.mp-b-ratebox .row,
.mp-b-ratebox .col-sm-6 {
    padding-left: 0;
    margin-left: 0;
}
.mp-b-line-font-hoak .slider-item-rate-number {
    font-size: 13px;
    color: #1cabce;
}
.mp-b-sum-line .slider-item-rate-number {
    font-size: 14px;
    color: #1cabce;
}
.mp-b-ratebox-hoak {
    border-right: 1px solid #e5e5e5;
}
.mp-b-color-soap {
    background-color: #f9f9f9;
}
.mp-b-ratebox {
    background-color: #f9f9f9;
    padding-bottom: 10px;
}
.mp-avg-head-txt {
    border-bottom: 1px dotted #ddd;
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0 0;
    padding: 10px 0;
    
    color: #404969;    
}
.mp-b-ajanlobox {
    margin-top: 15px;
}


.mp-b-sum-kiadott-munkak-txt {
    color: #1cabce;
    font-weight: bold;
}

.mp-b-sum-ratebtn {
    background-color: #85e31f;
    border: 1px solid #62a717;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    font-weight: normal;
}

.mp-b-sum-ratebtn-no {
    background-color: #E35E1F;
    border: 1px solid #A72E17;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    font-weight: normal;
}

.mp-b-sumbox-noleftspace {
    margin-left: 0;
    padding-left: 0;
}
/* xs */
@media(max-width:767px){
    .mp-b-sum-line {
	font-size: 12px;
    }
    .mp-b-sum-line .td-font-size {
	font-size: 11px;
    }
    .mp-b-sum-line .slider-item-rate-number {
	font-size: 11px;
	color: #1cabce;
    }
    .mp-b-line-font-hoak .slider-item-rate-number {
        font-size: 11px;
        color: #1cabce;
    }
    .mp-b-sum-line .slider-item-rate-number {
	font-size: 11px;
	color: #1cabce;
    }
    .mp-b-line-font-hoak .td-font-size {
	font-size: 11px;
    }
    .mp-b-ratebox .row,
    .mp-b-ratebox .col-sm-6 {
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
    }
    .mp-b-ratebox {
	padding-left: 0;
	margin-left: 0;
	padding-right: 0;
	margin-right: 0; 
    }
    .mp-b-ratebox-hoak {
	border: none;
    }
}
/**/

.mp-b-c-groupspacer {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/**/
.mp-b-c-btn-bad {
    color: #fff;
    background-color: #da5e5e;
}
.mp-b-c-btn-bad:hover {
    color: #fff;
    background-color: #dd6c6c;
}
.mp-b-c-btn-bad:active {
    color: #fff;
    background-color: #da5e5e;
}
.mp-b-c-btn-good {
    color: #fff;
    background-color: #60c568;
}
.mp-b-c-btn-good:hover {
    color: #fff;
    background-color: #7dd084;
}
.mp-b-c-btn-good:active {
    color: #fff;
    background-color: #60c568;
}
.mp-b-c-btn-all {
    color: #fff;
    background-color: #1bbae1;
}
.mp-b-c-btn-all:hover {
    color: #fff;
    background-color: #45c8e9;
}
.mp-b-c-btn-all:active {
    color: #fff;
    background-color: #1bbae1;
}
/**/
/* xs */
@media(max-width:767px){
    .mp-b-c-btn-bad,
    .mp-b-c-btn-good,
    .mp-b-c-btn-all {
	font-size: 10px;
    }
}

.mp-rb-btb-date {
    font-style: italic;
    
}
.mp-rb-body-textbox {
    
}
.mp-rb-body-textbox a{
    text-decoration: none;
    color: #1cabce;
}
.mp-rb-body-textbox a:hover{
    text-decoration: underline;
    color: #1cabce;
}
.mp-rb-bib-img {
    
}
.mp-rb-bib-img img {
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.mp-rb-body {
    margin-top: 10px;
}

.mp-rb-titlerow {
    
}
.mp-rb-titlerow a{
    text-decoration: none;
    color: #1cabce;
}
.mp-rb-titlerow a:hover {
    text-decoration: underline;
    color: #1cabce;
}
.mp-rb-titlerow .label{
    font-size: 13px;
}
.mp-rb-titlerow .mr-ei-munkaado-starrate {
    font-size: 13px;
}
.mp-rb-titlerow .td-font-size {
    font-size: 13px;
}
.mp-review-more-btn {
    color: #1cabce;
    text-decoration: none;
    margin-right: 30px;
}
.mp-review-more-btn:hover {
    color: #1cabce;
    text-decoration: underline;
}
.mp-reviewblock {
    margin-top: 15px;
    
}
.mp-reviewblock-odd {
    background-color: #f9f9f9;
}
/**/
.mp-review-answerblock a{
    text-decoration: none;
    color: #1cabce;
}
.mp-review-answerblock a:hover{
    text-decoration: underline;
    color: #1cabce;
}
















/* comment bubles */
.mp-rb-btb-bubbleholder {
    width: 100%;
}
.bubble{
    background-color: #ffffff;
    border-radius: 5px;
    /*box-shadow: 0 0 6px #B2B2B2;*/
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    border: 1px solid #ddd;
}

.bubble::before {
    background-color: #ffffff;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.bubble-left {
    float: left;   
    margin: 5px 0 5px 20px;         
}
/* nyil balra*/
.bubble-left::before {
    /*box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );*/
    left: -9px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.bubble-right {
    float: right;    
    margin: 5px 0px 5px 5px;
}
/* nyil jobbra */
.bubble-right::before {
    /*box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );*/
    right: -9px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.mp-review-no-xs-space {
    
}
@media(max-width:767px){
    .bubble-right {
	margin-left: 0;
	margin-right: 0;
    }
    .bubble-left {
	margin-left: 0;
	margin-right: 0;
    }
    .mp-review-no-xs-space {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
    }

}

.mp-rb-body-imagebox {
    text-align: center;
}



/* /comment bubles end */






/*********************
 *=======================================
 * Profil - Általános
 *=======================================
 ********************/

.pa-header-btn-holder-right {
    position: absolute;
    z-index: 201;
    bottom: 15px;
    right: 15px;
}
/**/

.pa-searchbox {
    
}
.pa-b-spacer-hoak {
    padding-left: 0;
    padding-right: 0;
}
.pa-b-spacer-hoak .pa-b-head-hoak {
    margin-bottom: 10px;
}
.pa-searchbox .block-title {
    background-color: #f9fafc;
}

.pa-searchbox .nav > li > a {
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
}
.pa-searchbox .tab-default-color {
    color: #555;
}
.pa-searchbox .jomunkas-searcher-box li a {
    color: #1bbae1;
}
.pa-searchbox .jomunkas-searcher-box li.active a,
.pa-searchbox .jomunkas-searcher-box li.active a:active,
.pa-searchbox .jomunkas-searcher-box li:active a,
.pa-searchbox .jomunkas-searcher-box li:active a:active {
    color: #555;
}
/**/
.pa-list-spacer {
    
}
.pa-list-spacer ul li {
    margin-left: 2px;
    margin-right: 2px;
}
.pa-list-spacer .nav-stacked > li + li {
    margin-left: 2px;
    margin-right: 2px;
}
.pa-list-spacer-li-spacer {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
}
.pa-list-spacer > li.active > a,
.pa-list-spacer > li.active > a:hover,
.pa-list-spacer > li.active > a:focus {
    background-color: #1bbae1;
}

.pa-list-spacer span.badge {
    background-color: #b1b1b1;
    font-weight: normal;
}
.pa-list-spacer > .a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    background-color: #1594b4;
    color: #fff;
    font-weight: normal;
}

@media(max-width: 420px) {
    .pa-searchbox .nav-tabs > li {
	float: none;
	display: table;
    }
    /*
    .pa-searchbox .nav-tabs > li.active > a{
        border: none;
    }
    .pa-searchbox .nav > li > a:hover,
    .pa-searchbox .nav > li > a:focus,
    .pa-searchbox .nav-tabs > li.active > a,
    .pa-searchbox .nav-tabs > li.active > a:hover,
    .pa-searchbox .nav-tabs > li.active > a:focus {
        background: none;
        border: none;
    }
    */
    .pa-szemelyes-menu {
	width: 100%;
    }
    .pa-searchbox li {
	width: 100%;
    }
    .pa-searchbox li.active {
	border-bottom: 1px solid #ddd;
    }
    .pa-searchbox li.active a {
	/*background-color: #1bbae1;
	color: #ffffff;*/
    }
    .pa-searchbox li.active a:hover,
    .pa-searchbox li.active a:focus {
	/*color: #ffffff;
	background-color: #1bbae1;*/
    }
    
    
}
/**/



#pa-main-menu-altalanos-holder {
    width: 100%;
    display: table;
}

.pa-mainbox {
    width: 100%;
    display: table;
    float: none;
    border: none;
    box-shadow: 0;
    -moz-box-shadow: 0;
}
.pa-b-sb-holder .searchbox {
    box-shadow: none;
    -moz-box-shadow: none;
}
.pa-mainbox  .tab-content {
    padding: 15px;
}
.pa-mainbox .block-title {
    background-color: #fff;
}
.pa-mainbox .tab-default-color {
    color: #1bbae1;
}
.pa-mainbox .jomunkas-searcher-box li a {
    color: #1bbae1;
}
.pa-mainbox .jomunkas-searcher-box li.active a {
    color: #555;
}
.pa-form-multi-input-hoak-1 {
    padding-left: 0;
    padding-right: 0;
}
.pa-form-multi-input-hoak-2 {
    padding-left: 0;
    padding-right: 15px;
}
.pa-form-multi-input-hoak-3 {
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
}
.input-group-2 {
    height: 30px;
    border: 1px solid red;
}

.custom-input-group-addon {
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    float: left;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px 0px 0px 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: #333;
}
.custom-input-group-addon-near {
    float: left;
    display: block;
    width: 413px;
}
.custom-input-group-addon-near textarea {
    width: 100%;
}
@media(max-width:420px){
    .custom-input-group-addon {
	display: none;
    }
    .custom-input-group-addon-near {
	width: 95%;
	
    }
    .custom-input-group-addon-near textarea {
	margin-left: 5px;
	margin-right: 5px;
	
    }
    
}

@media(max-width: 767px) {
    .custom-input-group-addon-near {
	width: 80%;
	
    }
    .custom-input-group-addon-near textarea {
	/*margin-left: 5px;
	margin-right: 5px;*/
	
    }
    .pa-b-spacer-hoak {
	padding-left: 0;
	padding-right: 0;
    }
    .pa-mainbox .tab-content {
    }
    .pa-mainbox .form-group {
	padding: 5px;
    }
    
}

/* sm */
@media(min-width:768px){
    .custom-input-group-addon-near {
	width: 80%;
    }
    
}
/* md */
@media(min-width:992px){
    .custom-input-group-addon-near {
	width: 87%;
    }

}

.pamms-title-holder {
    margin-bottom: 15px;
    font-size: 13px;
}

/* Form Select Switches */
.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
}

.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 28px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

.switch span:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    bottom: 7px;
    width: 12px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 24px;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.switch input:checked + span:after {
    left: 26px;
    width: 24px;
    top: 1px;
    bottom: 1px;
    border: none;
    -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked + span {
    background-color: #eeeeee;
}

.switch-default span {
    border-color: #dbe1e8;
}

.switch-default input:checked + span {
    background-color: #dbe1e8;
}

.switch-primary span {
    border-color: #1bbae1;
}

.switch-primary input:checked + span {
    background-color: #1bbae1;
}

.switch-info span {
    border-color: #7abce7;
}

.switch-info input:checked + span {
    background-color: #7abce7;
}

.switch-success span {
    border-color: #aad178;
}

.switch-success input:checked + span {
    background-color: #aad178;
}

.switch-warning span {
    border-color: #f7be64;
}

.switch-warning input:checked + span {
    background-color: #f7be64;
}

.switch-danger span {
    border-color: #ef8a80;
}

.switch-danger input:checked + span {
    background-color: #ef8a80;
}


@media(max-width:767px){
    .pmms-switch-holder {
	text-align: center;
	width: 100%;
	margin-top: 5px;
    }   
}























/* általános hoakok */



.btn-blue-hoak {
    background-color: #1bbae1;
}
.btn-blue-hoak:hover {
    background-color: #51cbea;
}


/**/
.font-hoak {
    font-size: 12px;
}
.font-color-hoak {
    color: #1bbae1;
}
.link-color-hoak {
    color: #1bbae1;
}
.link-color-hoak a {
    color: #1bbae1;
    text-decoration: none;
}
.text-vcenter-hoak {
    vertical-align: middle;
    line-height: 34px;
}
/**/














/*****************
 * PROTOTYPE
 *****************/
/* xs */
@media(max-width:767px){
    
}
/* sm */
@media(min-width:768px){
    
}
/* md */
@media(min-width:992px){
    
}
/* lg */
@media(min-width:1200px){
    
} 

.mybody-popup{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.premium-container{
    border-top: 1px; 
    border-top-style:dashed;
    border-color: #eaedf1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

label,p{
    text-align: left;
    color: #272D44;
    font-size: 14px;
    padding-left: 15px;
    font-weight: normal;
}

.premium-container .row{
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px; 
}

#file{
    margin-left: auto;
    margin-right: auto;
}
.color-green{
    color: green;
}

.color-blue{
    color: #6ad2eb;
}
.popup-blue-title{
    color:#1ebbe1;
    font-weight: 500;
}

.btn-myblue{
    background-color: #6ad2eb;
    border-color: #1bbae1;
    color: #fff;
}
.btn-myblue:hover{
    color: #fff;
    background-color: #1BBAE1;
}

.btn-myblue:active{
    color: #fff;
    background-color: #1BBAE1;
}
.btn-myblue:focus{
    color: #fff;
    background-color: #1BBAE1;
}

.wizard3-title{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.wizard3-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.ertekeles-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.ertekeles-content{
    padding-left: 0;
}
.tab-content{
    margin-bottom: 50px;
    padding: 20px;
}
.tab-content-mini{
    padding: 10px;
}

#szake-kie .row{
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#szake-kie .col-md-6{
    padding-left: 0;
    padding-right: 0;
}



.szake-kie-content1{
    border-top: thin solid #E5E5E5;
    background-color: #f9fafc;
}

.szake-kie-content2{
    background-color: #f4f4f4;
    border-bottom: thick solid #E5E5E5;
}

.partcontent{
    padding-top: 30px;
    padding-bottom: 30px;
}

.partcontent img{
    width: 35px;
    height: 35px;
}

#pricing .col-sm-3{
    padding-right: 0;
    padding-left: 0;
}

button.widget.widget-hover-effect1:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

button.widget.widget-hover-effect1:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.zero-padding{
    padding: 0;
}

.zero-margin{
    margin: 0;
}

.normal-padding{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.normal-padding-top{
    padding-top: 15px !important;
    
}

.normal-margin-top{
    margin-top: 15px;
}

.sub-header {
    border-bottom: 1px dotted #dddddd;
    margin: 10px 0 20px;
    padding: 10px 0;
}

.mini-padding-top{
    padding-top: 7px;
}


.bubble-pink{
    background-color: #FFDFDF;
    border-radius: 5px;
    /*box-shadow: 0 0 6px #B2B2B2;*/
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    border: 1px solid #ddd;
}

.bubble-pink::before {
    background-color: #FFDFDF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.bubble-pink-left {
    background-color: #FFDFDF;
    float: left;   
    margin: 5px 0 5px 20px;         
}
/* nyil balra*/
.bubble-pink-left::before {
    background-color: #FFDFDF;
    /*box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );*/
    left: -9px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.label-love{
    font-weight: 600;
    font-size: 13px;
}

.mytable-font{
    font-size: 13px;
}

.my-center{
    margin-left: auto;
    margin-right: auto;
}

.my-label-plus{
    color: green;
    font-size: 14px;
}

.my-label-minus{
    color: orange;
    font-size: 14px;
}


.my-label-plm{
    color: black;
    font-size: 14px;
}
